asgiref
attrs
certifi
chardet
click
clickclick
connexion
cycler
dj-database-url
Django
django-on-heroku
Flask
gunicorn
idna
inflection
isodate
itsdangerous
Jinja2
joblib
jsonschema
kiwisolver
MarkupSafe
matplotlib
numpy
openapi-schema-validator
openapi-spec-validator
Pillow
psycopg2-binary
pymongo
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
six
sklearn
sqlparse
threadpoolctl
urllib3
Werkzeug
whitenoise
#python==3.10