<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>

    <!-- Styles -->
    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        <div class="nav">
            <div class="logo">
                <a href="/"><img src="../static/img/logo.png" alt="Medical" /></a>
            </div>
            <div class="login">
                <a href="/login" class="btn btn-primary">Commencer la session</a>
            </div>
        </div>
        <!-- Bannière Principale -->
        <div class="swiper-container">
            <!-- Slides du swiper -->
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url(../static/img/banner-home-1.jpg);">
                    <div class="content-txt-slider">
                        <h2>Planifiez votre rendez-vous médical en un clic</h2>
                        <a type="button" class="btn btn-primary"  href="/login">Connectez-vous ici</a>
                    </div>
                    <div class="cont-img-sllider">
                        <img class="img-banner1" src="../static/img/img-banner-1.png" alt="planifiez votre rendez-vous médical">
                    </div>
                </div>
                
                <div class="swiper-slide" style="background-image: url(../static/img/banner-home-2.jpg);"> 
                    <div class="content-txt-slider">
                        <h2>Alliés pour protéger la santé de nos utilisateurs</h2>
                    </div>
                    <div class="cont-img-sllider">
                        <img class="img-banner2" src="../static/img/img-banner-2.png" alt="Alliés pour protéger la santé de nos utilisateurs">
                    </div>
                </div>
                
                <div class="swiper-slide" style="background-image: url(../static/img/banner-home-3.jpg);">
                    <div class="col-center">
                        <img class="img-center" src="../static/img/img-banner-3.png" alt="prévention">
                    </div>
                </div>
            </div>
            <!-- !Slides du swiper -->
            
            <!-- flèches suivantes/précédentes -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- !flèches suivantes/précédentes -->
            
            <!-- points de pagination -->
            <div class="swiper-pagination"></div>
            <!-- !points de pagination -->
        </div>
        
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../static/js/custom.js"></script>
  </body>
</html>